---
layout: default
title: Welcome to the Enlightened Singapore
stylesheets:
  - /assets/css/home.css
---
<div class="banner breaker-bottom">
  <div class="container">
    <div class="phone"></div>
    <div class="welcome">
      <div class="tagline">Welcome to the</div>
      <div>Enlightened Singapore</div>
    </div>
  </div>
</div>

<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <div class="card">
          <h4>Hello Agent!</h4>
          <p>We, the Singapore Enlightened agents, are thrilled to welcome you to our city!</p>
          <p>If you have just downloaded and started this game, <strong>Join Us Now</strong> to learn more about this game!</p>
          <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <p class="m-0"><a href="/join" class="btn btn-enlightened btn-block">Join Us Now &gt;</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <div class="card">
          <h4>Latest News</h4>

          {% for post in site.posts %}
          {% if post.pin_home %}
          <div class="post">
            <h5 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h5>
            <div class="post-content pb-2 pt-2">
              {{ post.content }}
            </div>
          </div>
          {% endif %}
          {% endfor %}

          <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <p class="m-0"><a href="/news" class="btn btn-enlightened btn-block">More News &gt;</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% if site.version > 1 %}
<section>
  <div class="container">
    <h4>Visiting Singapore?</h4>
    <p>Are you the Enlightened Agent who is just staying in Singapore for a short period of time? Lost
      on how to navigate around? Check out our <strong>City Guide</strong> now to learn more about this city</p>

    <div class="row">
      <div class="col-12 col-sm-6 col-md-3 col-lg-2">
        <p><a href="/city-guide" class="btn btn-enlightened btn-block">City Guide &gt;</a></p>
      </div>
    </div>

  </div>
</section>
{% endif %}


<div class="section-banner section-banner-visitor"></div>
