$phoneWidth: 353px;
$phoneHeight: 738px;

html, body {
  height: 100%;
}
body {
  background: white;
  font-family: "Exo 2", sans-serif;
  transition: all 0.5s;
}

a {
  color: #388e3c;
}

a:hover{
  color: #4caf50;
}

body.over-top {
  .top-nav {
    background-color: #000;
  }
  .logo {
    display: block;
  }
}

.top-nav {
  text-align: right;
  line-height: 1;
  font-size: 1.1em;
  transition: background-color 0.5s;

  .logo {
    display: none;
    float: left;
    padding: 15px;
    line-height: 26px;

    img {
      width: 25px;
      float: left;
      margin-right:10px;
    }
  }
  ul {
    margin: 0;
    padding: 0.8em;
    list-style-type: none;
    li {
      display: inline-block;
      margin-left: 1em;

      a {
        display: inline-block;
        color: #eee;
        text-decoration: none;
      }
      a:hover{
        color: white;
      }
    }

    li.cta {
      a {
        background: green;
        padding: 0.3em 0.6em 0.4em;
        border-radius: 3px;
      }
    }

    li.menu {
      margin-left: 0.5em;
      border-radius: 3px;
      border: 1px solid rgba(255,255,255,0.3);
      padding: 0.3em 0.5em;
    }
  }
}

.breaker-top {
  position: relative;
  &:before{
    content: "";
    background-image: url('../images/breaker-bottom.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -40px;
    position: absolute;
    top: -20px;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 90px;
  }
}

.breaker-bottom {
  position: relative;
  &:after{
    content: "";
    background-image: url('../images/breaker.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    position: absolute;
    bottom: -20px;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 90px;
  }
}

.banner {
  color: white;
  background-image: url('../images/banner.jpg');
  height: 550px;
  margin-bottom: 2em;

  background-attachment: fixed;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding-top: 80px;

  .phone {
    background-image: url('../images/phone.png');
    width: $phoneWidth;
    height: $phoneHeight;
    float: left;
    animation: image-in 1s;
  }

  .welcome {
    margin-left: $phoneWidth + 50px;
    padding-top: 300px;
    line-height: 1;
    font-size: 3.5em;
    text-shadow: 0 0 5px rgba(0,0,0,0.8);
    .tagline {
      font-size: 0.6em;
      opacity: 0.7;
    }
  }
}

@keyframes image-in{
  0% {opacity: 0; margin-top: 50px;}
  100% {opacity: 1; margin-top: 0;}
}

.footer {

  background: #212121;
  color: #777;
  a {
    color: #bbb;
    text-decoration: none;
  }
  a:hover{
    color: #fff;
  }

  .site-navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .heading {
    color: #bbb;
    font-size: 1.2em;
    font-weight: 600;
  }

  .contact-us {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

}

.demo-placeholder {
  background: #aaa;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
  .banner {
    .welcome {
      font-size: 3em;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  .banner{
    height: 400px;
    .welcome {
      padding-top: 200px;
      margin-left: ($phoneWidth + 50px) * 0.7;
      font-size: 2.4em;
    }
    .phone {
      width: $phoneWidth * 0.7;
      height: $phoneHeight * 0.7;
      background-size: $phoneWidth * 0.7 $phoneHeight * 0.7;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .banner{
    height: 300px;
    .welcome {
      padding-top: 100px;
      margin-left: ($phoneWidth + 50px) * 0.5;
      font-size: 1.8em;
    }
    .phone {
      width: $phoneWidth * 0.5;
      height: $phoneHeight * 0.5;
      background-size: $phoneWidth * 0.5 $phoneHeight * 0.5;
    }
  }
}
// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .banner{
    height: 180px;
    background-attachment: local;
    background-position: bottom;
    .welcome {
      padding-top: 0;
      margin-left: 0;
      font-size: 1.9em;
    }
    .phone {
      display: none;
    }
  }
}
