<footer id="footer" class="footer pt-3 pb-2 pt-sm-4 pt-sm-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-8 mb-3 mb-sm-0">
        <p class="logo"><img src="/assets/images/ingress-logo.png" width="40px" /> Enlightened<br>Singapore<p>
        <p><a href="https://www.ingress.com" target="_blank">Ingress</a> is a game created by
          <a href="https://www.nianticlabs.com/" target="_blank">Niantic Labs</a> and all materials
          used on this site is purely fan made and has no intention
        to infringe any copyrighted material.</p>
        <p>This website is proudly brought to you by the agents of Enlightened Singapore.</p>
        <p>&copy; 2019 Enlightened Singapore</p>
      </div>

      <div class="col-12 col-sm-4 mb-3 mb-sm-0">
        <ul class="site-navigation">
          {% for nav in site.data.nav %}
            <li><a href="{{ nav.url }}">{{ nav.title }}</a></li>
          {% endfor %}
          <li class="cta"><a href="/join">Join Us</a></li>
        </ul>
      </div>
  </div>
</footer>
