<footer id="footer" class="footer mt-5 pt-3 pb-2 pt-sm-4 pt-sm-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-8 mb-3 mb-sm-0">
        <p class="logo"><img src="/assets/images/ingress-logo.png" width="40px" /> Enlightened<br>Singapore<p>
        <p>Ingress is a game created by Niantic and all materials
          used on this site is purely fan made and has no intention
        to infringe any copyrighted materials.</p>
        <p>Website is proudly brought to you by the Enlightened Singapore.</p>
        <p>&copy; 2018 Enlightened Singapore</p>
      </div>

      <div class="col-12 col-sm-4 mb-3 mb-sm-0">
        <ul class="site-navigation">
          <li><a href="/demo">Home</a></li>
          <li><a href="/game">Game</a></li>
          <li><a href="/news">News</a></li>
          <li><a href="/sitreps">Sitreps</a></li>
          <li><a href="#">Help</a></li>
          <li class="cta"><a href="/join">Join Us</a></li>
        </ul>
      </div>
  </div>
</footer>
