<h4>Game Basic</h4>
<ul>
  <li><a href="/game-guide/enlightened-vs-resistance">Enlightened vs Resistance, aka green vs blue</a></li>
  <li><a href="/game-guide/main-screen">Main Screen</a></li>
</ul>

<h4>Game Mechanics</h4>
<ul>
  <li>XM and AP</li>
  <li>Capture a Portal</li>
  <li>Hack a Portal</li>
  <li>Upgrading a Portal</li>
  <li>Link Portals</li>
  <li>Making Fields</li>
  <li>Attack a Portal</li>
  <li>Level Requirements</li>
</ul>

<h4>Advanced Topics</h4>
<ul>
  <li>Flip Cards, aka Jarvis Virus & Ada Refactor</li>
  <li>Stack Fielding</li>
  <li>Raiding</li>
  <li>Farming</li>
</ul>
</h4>
