<nav class="top-nav fixed-top d-none d-md-inline-block">
  <div class="logo">
    <a href="demo"><img src="/assets/images/ingress-logo.png" /> Enlightened Singapore</a>
  </div>
  <ul>
    <li><a href="/demo">Home</a></li>
    <li><a href="/game">Game</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Events</a></li>
    <li><a href="#">Help</a></li>
    <li class="cta"><a href="/join-us">Join Us</a></li>
  </ul>
</nav>
<div class="top-nav fixed-top d-inline-block d-md-none">
  <div class="logo">
    <a href="demo.html"><img src="/assets/images/ingress-logo.png" /> EnlSG</a>
  </div>
  <ul>
    <li class="cta"><a href="/join-us">Join Us</a></li>
    <li class="menu"><a href="#"><i class="fas fa-bars"></i></a></li>
  </ul>
</div>
