<nav class="top-nav fixed-top">
  <div class="logo">
    <a href="/demo">
      <img src="/assets/images/ingress-logo.png" />
      <span class="d-none d-md-inline-block">Enlightened Singapore</span>
      <span class="d-inline-block d-md-none">EnlSG</span>
    </a>
  </div>
  <div class="d-none d-md-inline-block menu-links">
    <div class="d-block d-md-none">
      <div class="close"><a href="javascript:" onclick="$(body).toggleClass('menu-opened')">&times;</a></div>
    </div>
    <ul>
      <li><a href="/demo">Home</a></li>
      <li><a href="/game">Game</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/sitreps">Sitreps</a></li>
      <li><a href="#">Help</a></li>
    </ul>
  </div><ul class="d-inline-block">
    <li class="cta"><a href="/join">Join Us</a></li>
  </ul><ul class="d-inline-block d-md-none">
    <li class="menu"><a href="javascript:" onclick="$(body).toggleClass('menu-opened')"><i class="fas fa-bars"></i></a></li>
  </ul>
</nav>
