$phoneWidth: 353px;
$phoneHeight: 738px;
$xsWidth: 576px;

section {
  margin: 3em 0;
  @media(max-width: $xsWidth) {
    margin: 20px 15px;
  }
  .container {
    background: white;
    padding: 2em;
    @media(max-width: $xsWidth) {
      padding: 20px;
    }
    word-wrap: break-word;
  }
  img {
    max-width: 100%;
  }
  h4 {

  }
}

.section-banner{
  height: 200px;

  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  // Weird fix for a 1px border in mobile view
  margin-bottom: -1px;

  @media(max-width: $xsWidth) {
    height: 170px;
    background-attachment: local;
    background-position: center center;

    .section-title {
      font-size: 2em;
    }
  }
}

.banner {
  color: white;
  background-image: url('/assets/images/home/banner2.jpg');
  height: 550px;
  position: relative;
  font-family: Ubuntu, sans-serif;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding-top: 90px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    height: 70px;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0));
  }

  .phone {
    background-image: url('/assets/images/home/phone.png');
    width: $phoneWidth;
    height: $phoneHeight;
    float: left;
    animation: image-in 1s;
  }

  .welcome {
    margin-left: $phoneWidth + 50px;
    padding-top: 310px;
    line-height: 1;
    font-size: 3.5em;
    text-shadow: 0 0 10px rgba(0,0,0,0.9);
    font-weight: 400;
    .tagline {
      font-weight: 400;
      font-size: 0.6em;
      opacity: 0.7;
    }
  }
}

#footer {
  margin-top: 0 !important;
}

@keyframes image-in{
  0% {opacity: 0; margin-top: 50px;}
  100% {opacity: 1; margin-top: 0;}
}

.section-banner-visitor {
  background-image: url('/assets/images/home/merlion.jpg');
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
  .banner {
    .welcome {
      padding-top: 320px;
      font-size: 3em;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  .banner{
    height: 400px;
    .welcome {
      padding-top: 200px;
      margin-left: ($phoneWidth + 50px) * 0.7;
      font-size: 2.4em;
    }
    .phone {
      width: $phoneWidth * 0.7;
      height: $phoneHeight * 0.7;
      background-size: $phoneWidth * 0.7 $phoneHeight * 0.7;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .banner{
    height: 350px;
    .welcome {
      padding-top: 100px;
      margin-left: ($phoneWidth + 50px) * 0.5;
      font-size:1.8em;
    }
    .phone {
      width: $phoneWidth * 0.5;
      height: $phoneHeight * 0.5;
      background-size: $phoneWidth * 0.5 $phoneHeight * 0.5;
    }
  }
}
// Small devices (landscape phones, 576px and up)
@media (max-width: $xsWidth) {
  .banner{
    height: 200px;
    background-attachment: local;
    background-position: bottom;
    .welcome {
      padding-top: 0;
      margin-left: 0;
      font-size: 1.9em;
      text-align: center;
    }
    .phone {
      display: none;
    }
  }
}
