$xsWidth: 576px;

$colorCommon: #77d9a7;
$colorRare: #ad8eff;
$colorVeryRare: #d977d2;

$colorLevel1: #FECE5A;
$colorLevel2: #FFA630;
$colorLevel3: #FF7315;
$colorLevel4: #E40000;
$colorLevel5: #FD2992;
$colorLevel6: #EB26CD;
$colorLevel7: #C124E0;
$colorLevel8: #9627F4;
