---
---
$phoneWidth: 353px;
$phoneHeight: 738px;
$xsWidth: 576px;

section {
  background: white;
  padding: 24px 16px;
  margin: 1px 0;
  @media(max-width: $xsWidth) {
    //margin: 20px 0;
  }
  .container {
    word-wrap: break-word;
  }
  .card {
  }
  img {
    max-width: 100%;
  }
  h4 {

  }
}

.section-banner{
  height: 200px;

  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  // Weird fix for a 1px border in mobile view
  margin-bottom: -1px;

  @media(max-width: $xsWidth) {
    height: 170px;
    background-attachment: local;
    background-position: center center;

    .section-title {
      font-size: 2em;
    }
  }
}

.banner {
  color: white;
  background: linear-gradient(to bottom, rgb(20, 41, 5) 0%, rgb(55, 74, 31) 100%);
  //background-image: url('/assets/images/banners/banner3.jpg');
  height: 450px;
  position: relative;
  font-family: Ubuntu, sans-serif;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    height: 70px;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0));
  }

  .particles {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
    z-index: 10;
  }

  .welcome {
    position: relative;
    z-index: 20;
    padding: 32px;
    text-align: center;
    line-height: 1;
    font-size: 3.5em;
    font-weight: 400;
    .tagline {
      font-weight: 400;
      font-size: 0.6em;
      margin-bottom: 8px;
    }
  }
}

.section-below-banner {
}

.comm-steps {
  .comm-step {
    display: flex;
    margin-bottom: 16px;
    background: #f3f3f3;
    border-radius: 4px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    .comm-step-image {
      flex: 0 0 250px;
      overflow: hidden;
      border-radius: 4px 0 0 4px;
    }

    .comm-step-description {
      padding: 16px;
      flex-grow: 1;
    }
  }

  @media(max-width: 768px) {
    .comm-step {
      display: block;
      margin: 0 auto 16px;
      max-width: 300px;
      .comm-step-image {
        margin: 0;
        border-radius: 4px 4px 0 0;
      }
      .comm-step-description {
        padding-top: 8px;
        margin-top: 8px;
      }
    }
  }
}

#footer {
  margin-top: 0 !important;
}

@keyframes image-in{
  0% {opacity: 0; margin-top: 50px;}
  100% {opacity: 1; margin-top: 0;}
}

.section-banner-visitor {
  background-image: url('/assets/images/home/footer.jpg');
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
  .banner {
    .welcome {
      font-size: 3em;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  .banner{
    height: 400px;
    .welcome {
      font-size: 2.4em;
    }
    .phone {
      width: $phoneWidth * 0.7;
      height: $phoneHeight * 0.7;
      background-size: $phoneWidth * 0.7 $phoneHeight * 0.7;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .banner{
    height: 350px;
    .welcome {
      font-size:1.8em;
    }
    .phone {
      width: $phoneWidth * 0.5;
      height: $phoneHeight * 0.5;
      background-size: $phoneWidth * 0.5 $phoneHeight * 0.5;
    }
  }
}
// Small devices (landscape phones, 576px and up)
@media (max-width: $xsWidth) {
  .banner{
    height: 200px;
    background-attachment: local;
    background-position: bottom;
    .welcome {
      margin-left: 0;
      font-size: 1.9em;
      text-align: center;
    }
    .phone {
      display: none;
    }
  }
}
