---
---
.steps {
  padding-left: 0;
  list-style-type: none;
  counter-reset: steps-counter;
  background: white;
  padding: 1em;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);

  li {
    counter-increment: steps-counter;
    padding-left: 40px;
    position: relative;
    margin-bottom: 1.4em;
  }

  li:before{
    content: counter(steps-counter);
    color: white;
    background-color: #777;
    border-radius: 100%;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    position: absolute;
    left: 0;
    top: -1px;
    font-weight: 600;
  }

  .download {
    img {
      width: 180px;
    }
  }
}
