---
layout: default
stylesheets:
  - /assets/css/page.css
---
<style type="text/css">
{% if page.banner %}
  .page-banner {
    background-image: url('{{ page.banner }}');
  }
{% endif %}
</style>
<div id="content">
  <div class="page-banner breaker-bottom">
    <div class="container">
      <h1>{{ page.title }}</h1>
    </div>
  </div>
  {% if page.breadcrumbs %}
    <nav class="breadcrumb">
      <div class="container">
        <ol class="breadcrumb">
          {% for breadcrumb in page.breadcrumbs %}
            {% if breadcrumb.url %}
              <li class="breadcrumb-item"><a href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a></li>
            {% else %}
              <li class="breadcrumb-item">{{ breadcrumb.text }}</li>
            {% endif %}
          {% endfor %}
        </ol>
      </div>
    </nav>
  {% endif %}
  <div class="container mt-2 mb-1">
    {{ content }}
  </div>
</div>
