---
layout: page
stylesheets:
  - /assets/css/page.css # layout extending layout, include again!
  - /assets/css/post.css
---
<nav class="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/news">News</a></li>
    <li class="breadcrumb-item">{{ page.title }}</li>
  </ol>
</nav>
<div class="post single-post card">
  <div class="post-title">
    {{ page.title }}
  </div>
  <div class="post-date">
    {{ page.date | date: "%b %-d, %Y %-I:%M%P" }}
  </div>
  <div class="post-content">
    {{ content }}
  </div>
</div>
